{% load static %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

        {# Meta for public sharing #}
        <meta
          name="keywords"
          content="{{ public_keywords|default:_('setup,configuration,configure,installation,how to install,installing') }}"
        />
        <meta
          name="description"
          content="{{ public_description|default:_('We are here to help you to get everything configured seamlessly.') }}"
        />

        {# Facebook Sharing #}
        <meta property="og:url" content="{{ public_url|default:_('https://www.setupfaq.com/') }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ public_title|default:_('SetupFAQ') }}">
        <meta property="og:description" content="{{ public_description|default:_('We are here to help you to get everything configured seamlessly.') }}">
        <meta property="og:image" content="{{ public_image|default:_('https://www.setupfaq.com/static/images/public_preview.jpg') }}">

        {# Twitter Sharing #}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ public_title|default:_('SetupFAQ') }}">
        <meta name="twitter:description" content="{{ public_description|default:_('We are here to help you to get everything configured seamlessly.') }}">
        <meta name="twitter:image" content="{{ public_image|default:_('https://www.setupfaq.com/static/images/public_preview.jpg') }}">
        {# END Meta for public sharing #}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script rel="js" src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block blockbots %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167547653-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-167547653-1');
        </script>
    </head>
    <body>
        {# Navbar #}
        <nav class="navbar navbar-expand flex-md-row bg-light">
            <a class="navbar-brand mr-0 mr-2" href="/" aria-label="SetupFAQ">
                {# <img src="{% static 'images/brand_logo.png' %}" width="194" height="50" class="d-none d-md-inline-block align-top" alt=""> #}
                <img src="{% static 'images/brand_logo_initial.png' %}" width="30" height="33" class="d-md-none d-sm-inline-block align-top brand-name-initial-logo" alt="">
                {# <span class="brand-name-custom initial">S</span><span class="brand-name-custom d-none d-md-inline-block">etup.com</span> #}
                <strong class="d-none d-md-inline-block">SetupFAQ</strong>
            </a>
            <div class="ml-auto col-lg-3 col-md-4 col-sm-8 pr-0 pl-5">
                <form method="get" action="{% url 'article_search' %}">
                    {% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input
                               type="search"
                               name="query"
                               value="{{query}}"
                               class="form-control text-overflow-ellipsis border-right-0 rounded-0 custom-search"
                               placeholder="Search"
                               autocomplete=off />
                        <button class="btn btn-sm bg-dark text-white border-left-0 rounded-0">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </nav>
        {# END Navbar #}

        {# Container #}
        {% block content %}{% endblock %}
        {# END Container #}

        {# Footer #}
        {% block footer %}
        <div class="footer">
            <div class="jumbotron jumbotron-fluid mb-0 bg-dark text-white">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-12">
                            <a href="/" class="text-white lead"><h2 class="display-5 d-inline-block">SetupFAQ</h2></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 small mb-2">
                            <a href="{% url 'contact_us' %}" class="text-white">Contact Us</a>
                            &nbsp;|&nbsp;
                            <a href="{% url 'privacy_policy' %}" class="text-white">Privacy Policy</a>
                            &nbsp;|&nbsp;
                            <a href="{% url 'terms_of_service' %}" class="text-white">Terms of Service</a>
                        </div>
                        <div class="col-md-6 mt-md-0 text-md-right small text-light">
                            &copy; 2020 <a href="/" class="text-light">SetupFAQ</a>. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {# END Footer #}

        {# Cookies Policy #}
        {# <div class="alert alert-warning alert-dismissible fade show fixed-bottom rounded-0 mb-0 small text-justify" role="alert"> #}
            {# We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it. #}
            {# <button type="button" class="close" data-dismiss="alert" aria-label="Close"> #}
                {# <span aria-hidden="true">&times;</span> #}
            {# </button> #}
        {# </div> #}
        {# END Cookies Policy #}
    </body>
</html>
