{% extends "./base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0 pt-md-5 pb-md-5 pt-0 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 d-md-flex align-items-center text-center text-md-left">
                <img src="{% static 'illustrations/stress_illustration.svg' %}" class="stress-illustrations"/>
                <div class="pl-md-5">
                    <h2 class="text-large mb-3">
                        <b>Facing challenges while installing software?</b>
                    </h2>
                    <h2 class="display-md-5 sm-size">
                        <b>D</b>on't worry.
                    </h2>
                    <h1 class="lead sm-size">
                        <b>We are here,</b> to help you to get everything configured swimmingly.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% if articles_length >= 1 %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 mb-3">
            <h3 class="display-md-5 sm-size">
                Go ahead and find a solution to your problem
            </h3>
        </div>
    </div>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <a href="{% url 'article_base' article_id=article.id page_name=article.page_name %}" class="d-flex">
                    <img src="{{article.public_image}}" class="card-img-top" alt="" height="180px" width="260px" loading="lazy">
                </a>
                <a href="{% url 'article_base' article_id=article.id page_name=article.page_name %}">
                    <div class="card-body">
                        <h5 class="card-title sm-size">{{article.title|truncatechars:56}}</h5>
                        <p class="card-text sm-size">
                            <small class="text-muted">
                                {{article.time_ago}}
                                <b>&centerdot;</b>
                                {{article.read_time}}
                            </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid mb-0 mt-0 pt-0 pb-0 bg-light" style="background: var(--custom-light-bg);">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'illustrations/search_illustration.svg' %}" class="error-illustrations"/>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <h1 class="text-large mb-3">
                        <b>Oops, no blog found!</b>
                    </h1>
                    <h5 class="display-5 text-muted">
                        We're writing some useful blogs for you.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
