{% extends "./base.html" %}

{% block title %}Setup.com | Sitemap{% endblock %}

{% block content %}
<div class="container mt-3 mb-3">
    <h1 class="display-md-5">
        Sitemap
    </h1>
    <hr />
    {% for key in articles %}
    <div class="row">
        <div class="col-12">
            <h3 class="display-md-5">
                {{key}}
            </h3>
            {% for article in articles %}
                <a href="#" class="ml-3">
                    {{article.title}}
                </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
