:root {
    --custom-light-bg: rgba(38, 90, 38, 0.1);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--gray);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.form-control:focus,
.btn-dark.focus, .btn-dark:focus {
    box-shadow: none;
}

.navbar-brand, .nav-item a {
    color: #343a40;
}
.navbar-brand:hover, .nav-item a:hover {
    color: #343a40;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
