{% extends "website/base.html" %}

{% block title %}SetupFAQ | Page Not Found{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0 bg-light" style="background: var(--custom-light-bg);">
    <div class="container mt-md-5 mb-md-5 pt-md-5 pb-md-5">
        <h1 class="display-3 text-large">
            <b>404</b>
        </h1>
        <h1 class="display-3 text-muted">
            Page Not Found
        </h1>
        <h5 class="text-muted">
            Sorry, we couldn’t find this page but don't worry you can search for some other solutions.
        </h5>
    </div>
</div>
{% endblock %}
