{% extends "website/base.html" %}
{% load static %}

{% block title %}Page Not Found - SetupFAQ{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0 mt-0 pt-md-5 pt-0 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'illustrations/404_illustration.svg' %}" class="error-illustrations"/>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <h1 class="text-large mb-3">
                        <b>Oops, we couldn’t find this page!</b>
                    </h1>
                    <h5 class="display-5 text-muted">
                        But don't worry you can search for some other solutions.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
