{% extends "website/base.html" %}

{% block title %}Internal Server Error - SetupFAQ{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0 bg-light" style="background: var(--custom-light-bg);">
    <div class="container mt-md-5 mb-md-5 pt-md-5 pb-md-5">
        <h1 class="display-3 text-large">
            <b>500</b>
        </h1>
        <h1 class="display-3 text-muted">
            Internal Server Error
        </h1>
        <h5 class="text-muted">
            Please bear with us and we'll try to resolve this issue quickly for you.
        </h5>
    </div>
</div>
{% endblock %}
