{% extends "website/base.html" %}
{% load static %}

{% block title %}Internal Server Error - SetupFAQ{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid mb-0 mt-0 pt-md-5 pt-0 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="{% static 'illustrations/500_illustration.svg' %}" class="error-illustrations"/>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <h1 class="text-large mb-3">
                        <b>Sorry, something is wrong with our server!</b>
                    </h1>
                    <h5 class="display-5 text-muted">
                        Please bear with us and we'll try to resolve this issue quickly for you.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
